<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Book</h2>
    </div>
    <div class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
        <div class="flex items-top gap-x-4">
          <p class="text-sm text-gray-900 font-light text-center whitespace-pre-wrap break-words"><%= image_tag book.cover, size: "200x200"%></p>
        </div>
        <div class="group relative">
          <h3 class="text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-900">
              <%= book.title %>
          </h3>
          <p class="mt-5 font-semibold text-gray-600">Description:</p>
          <p class=" line-clamp-7 text-sm leading-6 text-gray-600"><%= book.description %></p>
        </div>
        <div class="relative flex items-top gap-x-4">
          <div class="text-sm leading-6">
            <p class="font-semibold text-gray-900">Author:</p>
            <p class="text-gray-600"><%= book.author %></p>
             <br>            
            <p class="font-semibold text-gray-900">Genre:</p>
            <p class="text-gray-600"><%= book.genre %></p>
             <br>
            <p class="font-semibold text-gray-900">Pages:</p>
            <p class="text-gray-600"><%= book.page %></p>
             <br>
            <p class="font-semibold text-gray-900">Pages:</p>
            <p class="text-gray-600"><%= book.publish_company %></p>
              <br>           
            <p class="font-semibold text-gray-900">Year Published:</p>
            <p class="text-gray-600"><%= book.year_publish %></p>
             <br>            
            <p class="font-semibold text-gray-900">Status</p>
            <p class="text-gray-600"><%= book.book_current.current_type%></p>
          </div>
        </div>


      <!-- More posts... -->
    </div>
  </div>
</div>


<div id="<%= dom_id book %>">
  <% if action_name != "show" %>
    <%= link_to "Show this book", book, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this book", edit_book_path(book), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
